*{
    margin: 0;
    padding: 0;
    color: var(--light);

     /* transition: all 0.2s ease-in-out; */
    box-sizing: border-box;
}

canvas {
    width: 100vw;
    height: 100vh;
    display:block;
    scroll-behavior:block;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

#overlay {
    width: 100vw;
    height: 100vh;
    display:block;
    scroll-behavior:block;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    pointer-events:auto;
    color: rgba(255, 255, 255, 0);
}
  
html, body {
    margin: auto;
    box-sizing: border-box;
}

html {
    background-color: var(--dark);
}

body {
    /* max-width: 1030px;*/
    
}

@media only screen and (max-width: 1000px) {
    body {
        width: 100%;
    }
}


main {
    position: relative;
}

/* GENERAL - COLORS */
:root {
    /* --primary: #FF5F34;*/
    --primary: rgb(255, 255, 0);
    --abcent: #e4e4e4;
    --dark: #eeeeec;
    --light: #252525;
    --secondary: rgb(255, 255, 0);
    --tertiary: #8390FA;
    --other: #5BDD94;

    --primary-op: #ff603420;
    --secondary-op: #FFB70420;
    --tertiary-op: #8391fa20;
    --light-op: #ffffff20;
    --dark-op: #010010b0;
}

.text-primary {color: var(--light)}
.text-secondary {color: var(--secondary)}
.text-tertiary {color: var(--tertiary)}
.text-other {color: var(--other)}
.text-light {color: var(--light)}
.text-dark {color: var(--dark)}
.text-abcent {color: var(--abcent)}

.bg-primary {background-color: var(--primary)}
.bg-secondary {background-color: var(--secondary)}
.bg-tertiary {background-color: var(--tertiary)}
.bg-other {background-color: var(--other)}
.bg-light {background-color: var(--light)}
.bg-dark {background-color: var(--dark)}
.bg-abcent {background-color: var(--abcent)}

/* GENERAL - TEXT */
/* 'Big Shoulders Display' */
/* Courier Prime' */
h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 105px;
}

h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 42px;
}

h4 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

h5 { /* SUB HEADER PROJECTS, ABOUT */
    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;

}

h6 { 
    font-family: 'Big Shoulders Display', sans-serif;
    font-style: normal;
    font-weight: lighter;
    letter-spacing: .5px;
    font-size: 26px;
    line-height: 32px;
    z-index: 1;
}

h7 {
    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 30px;
    z-index: 1;
}

h8 {
    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 7px;
    line-height: 35px;
}

/* MAIN NAME HEADER */
h10 {
    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: normal;
    /* letter-spacing: -1.5px; */
    font-size: 25px;
    line-height: 32px;
    /* margin-left: 50px; */
}


p {
    font-family: 'Courier Prime', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

.text-center {text-align: center;}
.text-uppercase {text-transform: capitalize;}
strong {font-weight: bold;}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 80px;
        line-height: 85px;
    }
    
    h3 {
        font-size: 25px;
        line-height: 40px;
    }
}

/* LINKS */

a {
    text-decoration-line: none;
}

a:hover {
    cursor: pointer;
}

a:hover > *{
    color: var(--abcent);
}

.link {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-decoration-line: underline;
}

.link:hover {
    text-decoration-line: none;
    color: var(--abcent);
}

.button {
    padding: 5px 25px;
    border: 2px solid var(--light);

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    text-transform: uppercase;
}

.button:hover {
    border: 2px solid var(--abcent);
    color: var(--abcent);
    cursor: pointer;
}

.button:hover i{
    color: var(--abcent);
}

.button-complete {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0;
}

/* CONTAINERS */
main {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: var(--dark-op);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    display: none;
}

/* Solving video iframe problems */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}

#video iframe{
    border: 3px solid var(--primary);
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
}

#video i {
    position: absolute;
    top: 15%;
    background-color: var(--primary);
    color: var(--dark);
    padding: 10px;
    right: 15%;
}

#video i:hover {
    cursor: pointer
}

@media only screen and (max-width: 810px) {
    #video iframe{
        top: 2.5%;
        left: 2.5%;
        width: 95%;
        height: 95%;
    }

    #video i {
        right: 2.5%;
        top: 2.5%;
    }
}

/* HEADER */
header {
    width: 100%;
    padding: 15px 15px 0px 15px;
    position: relative;
    max-width: 1200px;
    margin: auto;
    /* left: 100px; */
   
    /*position: sticky;*/
    top: 0;
    /* background: var(--dark); */
    z-index: 10;
}

.main-name{
    /* margin-top: 20px; */
    padding: 0px;
    /*  */
    /* border-bottom: 1px solid var(--light); */
}

/* .main-name-bgcolor{
    background-color: rgb(255, 255, 0);
    left: 0;
    top: 20px;
    width: 100%;
    height: 17px;

    z-index: -1;
    position: absolute;
    
} */

header nav {
    
    /*padding-bottom: 15px;*/
  
    /* border-bottom: 1px solid var(--light); */
}

header #menu-nav {
    display: flex;
    justify-content:left;
    width: 70%;
    margin-left: 100px;
}

header #menu-nav a{
    /*margin: auto 25px;*/
    margin-top: 10px;
    margin-right:  30px;
    /* margin-bottom: 10px; */
}

.active {
    /* border-bottom: 2px solid var(--light); */
    font-weight: bold;
}

/* Burger menu */
#menu-burger {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    z-index: 10;

    display: none;
}

/* Menu burger animation */
#menu-burger span,
#menu-burger span::before,
#menu-burger span::after {
  position: absolute;
  top: 20px;
  right: 15px;

  width: 25px;
  height: 2px;

  background-color: var(--light);
  border-radius: 5px;

  transition-duration: 0.25s;

  z-index: 100;
}

#menu-burger span::before {
  content: "";
  top: -8px;
  right: 0px;
}

#menu-burger span::after {
  content: "";
  top: 8px;
  right: 0px;
}

#menu-burger.clicked span {
    transform: rotate(45deg);
}

#menu-burger.clicked span::before {
    top: 0;
    transform: rotate(0);
}

#menu-burger.clicked span::after {
    top: 0;
    transform: rotate(90deg);
}
    
#menu-burger:hover {
    cursor: pointer;
}

#menu-nav.show {
    opacity: 1;
    visibility: visible;
    right: 0;
}

/* Menu responsive */
@media only screen and (max-width: 810px) {
    #menu-burger {
        display: unset;
    }

    header #menu-nav {
        display: unset;
        position: fixed;
        top: 0;
        right: -60%;
        z-index: 5;
        width: 60%;
        height: 100%;
        background-color: var(--dark);
        padding: 50px;
        padding-top: 50px;
        text-align: center;
        padding-top: 100px;
        border-left: 2px solid var(--primary);
        opacity: 0;
        visibility: hidden;
    }
}

@media only screen and (max-width: 375px) {
    header #menu-nav {
        right: -100%;
        width: 100%;
    }
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    
    margin-top: 15px 10px;
}

footer div i {
    margin: 10px;
}