*{
   
    /* margin: 0;
    padding: 0; */
    /* box-sizing: border-box; */
}

:root {
    --primary: #FF4800;
    --abcent: #00FFD4;
    --dark: #000000;
    --light: #ffffff;
    
}

html, body {
    margin: auto;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

    color: var(--light);
}

#textContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
}


.main_title {
    width: 100vw;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
    font-size: 8vw; 
    font-weight: bold;
  
    letter-spacing: 2vw;
    cursor:default;

    transform: scaleY(11); /* Adjust this value to stretch the text vertically */
}
/* .main_title{
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
} */