/* ---------------------------PROJECTS------------------------------- */
.title{
    padding-top: 15px;
    padding-bottom: 15px;
}

.title h2{
    text-transform: uppercase;
}

.line{
    margin-top: 20px;
    height: 4px;
    width: 190px;
    position: absolute;
    left: -80px;
}

.small-line {
    width: 10px;
    position: absolute;
    left: -20px;
    height: 4px;
    top: 13px;
}

.title .top-text{
    margin-top: 50px;
    width: 50%;
    margin-bottom: 10px;
}

.projects-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: -15px 0px 25px 50px;
    margin-right: 30px;
    flex-wrap: wrap;
}

.projects-links h4:hover {
    color: var(--abcent);
    cursor: pointer;
}

/* Project design */
#projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#projects-container .project{
    /*border: 3px solid var(--light);*/
    width: 32%;
    margin-bottom: 25px;
    /*margin-left: 7px;
    margin-right: 7px;*/
    position: relative;
    display: block;
    opacity: 1;
}

.hide {
    opacity: 0 !important;
    display: none !important;
}

.hover-element {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    cursor: pointer;
}
/*
#projects-container .project:hover{
    cursor: pointer;
}

#projects-container .project-game:hover{
    background-color: var(--primary-op);
}

#projects-container .project-3d:hover{
    background-color: var(--secondary-op);
}

#projects-container .project-other:hover{
    background-color: var(--tertiary-op);
}

#projects-container .project-3d.project-game:hover{
    background-image: linear-gradient(to right, var(--primary-op), var(--secondary-op));
}

#projects-container .project-3d.project-other:hover{
    background-image: linear-gradient(to right, var(--secondary-op), var(--tertiary-op));
}

#projects-container .project-game.project-other:hover{
    background-image: linear-gradient(to right, var(--primary-op), var(--tertiary-op));
}

#projects-container .project-3d.project-game.project-other:hover{
    background-image: linear-gradient(to right, var(--primary-op) 0%, var(--secondary-op) 50%, var(--tertiary-op) 100%);
}*/

#projects-container .project h7{
   /* background: var(--light);*/
    /*color: var(--dark);*/
    padding: 5px;
    
}

#projects-container .project .color-div{
    height: 8px;
    width: 100%;
}

#projects-container .project-game  .color-div{
    background-color: var(--primary);
}

#projects-container .project-3d .color-div{
    background-color: var(--secondary);
}

#projects-container .project-leveldesign .color-div{
    background-color: var(--tertiary);
}

#projects-container .project-other .color-div{
    background-color: var(--other);
}

#projects-container .project-3d.project-game .color-div{
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
}

#projects-container .project-3d.project-other .color-div{
    background-image: linear-gradient(to right, var(--secondary), var(--other));
}

#projects-container .project-leveldesign.project-game .color-div{
    background-image: linear-gradient(to right, var(--primary), var(--tertiary));
}

#projects-container .project-leveldesign.project-3d .color-div{
    background-image: linear-gradient(to right, var(--secondary), var(--tertiary));
}

#projects-container .project-leveldesign.project-other .color-div{
    background-image: linear-gradient(to right, var(--tertiary), var(--other));
}

#projects-container .project-game.project-other .color-div{
    background-image: linear-gradient(to right, var(--primary), var(--other));
}

#projects-container .project-3d.project-game.project-leveldesign .color-div{
    background-image: linear-gradient(to right, var(--primary) 0%, var(--secondary) 50%, var(--tertiary) 100%);
}

#projects-container .project-3d.project-leveldesign.project-other .color-div{
    background-image: linear-gradient(to right, var(--secondary) 0%, var(--tertiary) 50%, var(--other) 100%);
}

#projects-container .project-leveldesign.project-other.project-game .color-div{
    background-image: linear-gradient(to right, var(--primary) 0%, var(--tertiary) 50%, var(--other) 100%);
}

#projects-container .project-other.project-game.project-3d .color-div{
    background-image: linear-gradient(to right, var(--primary) 0%, var(--secondary) 50%, var(--other) 100%);
}

#projects-container .project-other.project-game.project-3d.project-leveldesign .color-div{
    background-image: linear-gradient(to right, var(--primary) 0%, var(--secondary) 30%, var(--tertiary) 60%, var(--other) 100%);
}

#projects-container .project .project-info{
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 82.5%; */
    height: fit-content(100%);
}


.year-element{
    font-size: 14px;
    color:  var(--light);
    font-weight: lighter;
    margin-bottom: 5px;
}

#projects-container .project .project-info .short-desc{
    margin:  5px 5px 5px -5px;
    font-size: 14px;
    line-height: 18px;
    height: 35px;
    font-weight: normal;
}

#projects-container .project .project-info .client{
    
    margin-top:  -15px;
    margin-left: -5px;
    font-size: 11px;
    font-weight: normal;
    color: rgb(230, 129, 230);
}

#projects-container .project .project-info .roles{
    margin:  -5px;
    font-size: 11px;
    font-weight: normal;
}

#projects-container .project .project-info img{
    
    margin: 10px 0px 0px 0px;
    width: 100%;
    max-width: 100%;


    resize: horizontal;
    overflow: auto;
    object-fit: cover;

    height: 240px;
    align-self: flex-end;
}

.labels {
    display: flex;
    flex-wrap: wrap;
}

.labels .label {
    padding: 4px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.labels .label-game {
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: var(--primary-op);
}

.labels .label-3d {
    border: 2px solid var(--secondary);
    color: var(--secondary);
    background-color: var(--secondary-op);
}

.labels .label-leveldesign {
    border: 2px solid var(--tertiary);
    color: var(--tertiary);
    background-color: var(--tertiary-op);
}

.labels .label-other {
    border: 2px solid var(--other);
    color: var(--other);
    background-color: var(--other-op);
}

@media only screen and (max-width: 950px) {
    .title p {
        width: 100%;
    }

    .projects-links {
        width: 100%;
    }

    #projects-container .project{
        width: 45%;
    }
}

@media only screen and (max-width: 740px) {
    #projects-container .project{
        width: 100%;
    }

    .title .top-text {
        width: 100%;
    }
}

/* PROJECT INFO */
#buttons {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

#buttons .button{
    margin-right: 20px;
    margin-bottom: 20px;
}

#links {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

#links .button{
    margin-right: 20px;
    margin-bottom: 20px;
}

#trailer-button {
    display: block;
    opacity: 1;
}

#gameplay-button {
    display: block;
    opacity: 1;
}

.other-button {
    display: block;
    opacity: 1;
}

#project-title {
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#project-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border: 2px solid var(--primary);*/
    /*padding: 5px;*/
    /*margin: 20px 0px;*/
}

#project-info .info-block {
    margin: 0px 10px;
    margin-bottom: 20px;

    width: 20%;
}

#description h4, #what h4, #aditional h4, .links h4 {
    margin-bottom: 20px;
    margin-top: 50px;
}

#project-imgs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
}

.project-img{
    width: 100%;
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
    background-size: 100%;
    margin-top: 0px;
}

.img-doble{
    width: 47%;
    margin-left: 0px;
    margin-right: 0px;
}

.img-doble-first{
    margin-right: 15px;
}

@media only screen and (max-width: 850px) {
    #project-info .info-block {
        width: 30%;
    }

    .img-doble{
        width: 100%;
    }

    .img-doble-first{
        margin-right: 0px;
    }
}

@media only screen and (max-width: 580px) {
    #project-info .info-block {
        width: 45%;
    }
}

@media only screen and (max-width: 485px) {
    #project-info .info-block {
        width: 100%;
    }
}

/* ------------------------------------ ABOUT -----------------------------------*/
#presentation {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

#presentation img{
    width: 250px;
    margin-right: 30px;
}

#presentation div{
    position: relative;
}

.line-middle {
    margin-top: 10px !important;
}

#presentation h4{
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Chronology */
#chronology {
    display: flex;
    justify-content: space-between;
}

#chronology .chronology-container{
    margin: 30px;
    position: relative;
}

#chronology div .linea {
    background-color: var(--primary);
    margin-top: 15px;
    height: 95%;
    width: 2px;
    border-radius: 5px;
    position: absolute;
    top: 0;
}

.studies div .linea {
    left: 0;
}

.experience div .linea {
    right: 0;
}

#chronology div .punto{
    background-color: var(--primary);
    height: 10px;
    width: 10px;
    border-radius: 9999px;
}

.experience div .punto{
    background-color: var(--primary);
}

.chr-element {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
}

.experience .chr-element {
    justify-content: flex-end;
}

.chr-element .punto{
    margin-top: 23px;
    margin-left: 4px;
}

.chr-element p{
    width: 90%;
}

.experience .chr-element .punto{
    margin-right: 4px;
    margin-left: 0;
}


#chronology .chronology-container .chronology-text{
    margin-left: -8px;
}

.experience .chronology-container .chronology-text{
    margin-right: -8px;
    text-align: right;
}

#chronology .chronology-container .chronology-text p {
    margin: 15px;
}

.experience .title h2 {
    text-align: right;
}

.experience .title .line {
    right: -20px;
    left: unset;
    width: 130px;
}

.software {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}

.software .software-object{
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.software .software-object img{
    width: 50px;
    margin-right: 20px;
}

.experience, .studies {
    width: 40%;
}

@media only screen and (max-width: 810px) {
    #presentation img{
        width: 50%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #presentation {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience, .studies {
        width: 100%;
    }
}

@media only screen and (max-width: 630px) {
    #chronology {
        flex-direction: column;
    }

    #chronology .experience .chronology-container {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 550px) {
    #presentation img{
        width: 100%;
    }
}

/* COVER */
#cover {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: var(--dark);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px;
}

.cover-content {
    width: 70%;
    position: relative;
    z-index: 2;
}

.line-big {
    width: 100%;
    margin-top: -30px;
}

#cover h1{
    margin-bottom: 60px;
}

#cover h3{
    margin-bottom: 20px;
}

#cover h3{
    margin-bottom: 20px;
}

#cover .buttons{
    display: flex;
    flex-wrap: wrap;
}

#cover .buttons .button{
    margin-right: 20px;
}

#cover .button-video {
    width: 30%;
}

#cover .button-video i{
    font-size: 120px;
    position: relative;
    z-index: 2;
}

#cover #myVideo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

#cover .video-cover {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-image: linear-gradient(to top, var(--dark), rgba(0,0,0,0));
}

#cover .menu-nav {
    position: absolute;
    bottom: 0;
    width: 95%;
    z-index: 2;
    margin: auto;

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media only screen and (max-width: 720px) {
    #cover{
        align-items: unset;
        justify-content: center;
        flex-direction: column;
    }

    #cover .button-video {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 400px) {
    #cover{
        align-items: center;
        text-align: center;
    }

    #cover .button-video {
        margin-top: 30px;
    }

    #cover .buttons {
        justify-content: center;
    }

    #cover .buttons .button {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    #cover .button-video i {
        font-size: 50px;
    }
}