* {
    margin: 0;
    padding: 0;
    
}

body{
    color: white;
    background-color: #FCC012;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    background-color: #21242c;
    margin: 25px;
    height: 95.5vh;

   
   
}

.container_projects{
    
    background-color: #21242c;
    margin: 0px 25px 0px 25px;
    height: 100%;

   
}

.inside_projects{
    max-width: 1854px;
    margin: auto;
    font-size: 25px;

}

.main_page{
    display: flex;
    height: 100%;
    margin: auto;
    width: 1854px;
    padding-left: 11%;
    padding-right: 17%;

    align-items: center;
    justify-content: space-between;
}

.main_page div h1{
    color: #FCC012;
    font-size: 200px;
    line-height: 230px;
    margin-bottom: 40px;
    font-family: 'Bitter', serif;
}

.main_page div h3{
    font-size: 50px;
    font-weight: normal;
}

.main_page div img:hover{
    margin-left: -10%;
    margin-top: -10%;
    opacity: 0.7;
    width: 120%;
    height: 120%;
    cursor: pointer;
   
}

.project_page{
    display: flex;
    
    margin: auto;
    padding-top: 200px;
  

    align-items: center;
    justify-content: space-between;
}

.project_page div h1{
    color: #FCC012;
    font-size: 200px;
    line-height: 230px;
    margin-bottom: 40px;
    font-family: 'Bitter', serif;
}

.project_page div h3{
    font-size: 50px;
    font-weight: normal;
}

.project_page div img{
    margin: auto;
}
.project_page div img:hover{
    margin-left: -10%;
    margin-top: -10%;
    opacity: 0.7;
    width: 120%;
    height: 120%;
    cursor: pointer;
   
}

.scroll{
    position: absolute;
    bottom: 100px;
    left: 50%;
    display: flex;
    align-items: center;
    
    
}

.scroll div{
    background-color: #FCC012;
    width: 5px;
    height: 188px;
}

.scroll p{
    color: #FCC012;
    font-weight: bold;
    font-size: 20px;
    margin-left: 35px;
}

header{
    display: flex;
    padding-top: 60px;
    flex-wrap: nowrap;
    height: 70px;
    justify-content: space-between;
	border-bottom:5px solid #FCC012;
    font-family: 'Bitter', serif
}

.Big{
    flex: 3 1 50%;
    
}

.Big h3 a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.Big h3 a:hover{
    border-bottom: 5px solid white;
}


.Small{
    flex: 1 6 16.66%;
    text-align: center;
    margin: 0px 10px 0px 10px;
}

.Small h3 a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.Small h3 a:hover{
    border-bottom: 5px solid white;
}

/* No funciona*/
Big:hover, Small:hover{
    border-bottom: 2px solid rgb(255, 255, 255);;
}

header h3{
    font-weight:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    color: white;
}

.container_main {
    display: flex;
    justify-content: space-between;
    color: white;
}

.title{
    margin: 100px auto 56px auto;
    width: 330px;
    padding: 17px;
    text-align: center;
    border: 3px solid white;
    font-size: 25px;

}

.title h3{
    font-weight:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}

/*CARDS*/

.cards_yellow{
    background-color: #FCC012;
    color: #21242c;
    font-weight: bold;
    max-width: 478px;

}

.cards_blue{
    border: 5px solid #FCC012;
    color: #21242c;
    font-weight: bold;
    max-width: 478px;

}

.cards_yellow a{
    text-decoration: none;
    color: #21242c
}

.cards_blue a{
    text-decoration: none;
    color: #FCC012;
}


.card_inside{
    padding: 50px 50px 50px 50px;
}

.card_title{
   text-align: center;
   margin-bottom: 40px;
   font-family: 'Bitter', serif
}

.card_title h1 {
    font-weight:bold;
    font-size: 50px;
    
}

.card_border{
    height: 5px;
    background-color: #21242c;;
}

.card_border div{
  margin: auto;
    
}

.card_border_y{
    height: 5px;
    background-color: #FCC012;;
}

.card_border_y div{
  
    margin: auto
    ;
}

.card_description{
    margin-top: 40px;
    font-size: 25px;
}

.card_plus{
 position: relative;
    margin-bottom: 50px;
}

.card_plus_sign {
    
    width: 50px;
    height: 50px;

    position: absolute;
    right: 0%;
    
  }
  .card_plus_sign::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #21242c;
    height: 10px;
    margin-top: -5px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
  }
  .card_plus_sign::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #21242c;
    width: 10px;
    margin-left: -5px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
  }

  .card_plus_sign_y {
    
    width: 50px;
    height: 50px;

    position: absolute;
    right: 0%;
    
  }
  .card_plus_sign_y::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #FCC012;
    height: 10px;
    margin-top: -5px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
  }
  .card_plus_sign_y::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #FCC012;
    width: 10px;
    margin-left: -5px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
  }

/*FOOTER*/

  footer{
    margin-top: 200px;
    border-top: 5px solid #FCC012;
    margin-bottom: 25px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }

 
  .footer_social{
        width: 30px;
        height: 30px;
  }

  /*PAGINA JUEGOS*/

.container_individual_project{
    margin-top: 350px;
    display: flex;
    justify-content: space-between;
}

.right_img{
    width: 100%;
    max-width: 48%;
    border: 5px solid #FCC012;
    height: 500px;
}

.img_cover{
    width: 100%;

    
}

.left_txt{
    width: 100%;
    max-width: 48%;

    
}

.txt_titles{
    font-size: 50px;
    padding: 25px;
    color: white;
    border-bottom: 5px solid #FCC012;
}

.txt_description{
    margin-top: 25px;
    font-size: 25px;
}

.screenshots_rectangle{
    width: 100%;
    max-height: 1000px;
    border: 5px solid #FCC012;;
}

/*VIDEO*/

.container-play-trailer{
    transition: 0.3s;
}

.container-play-trailer:hover{
    opacity: 0.6;
    cursor: pointer;
}

.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rggba(0,0,0,0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

.close{
    position: absolute;
    top: 100px;
    right: 100px;
    cursor: pointer;
    max-width: 50px;
    filter: invert(1);
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer iframe{
    position: relative;
    max-width: 900px;
    max-height: 510px;
    outline: none;
    border: none;

    
}

.container-play-gameplay{
    transition: 0.3s;
}

.container-play-gameplay:hover{
    opacity: 0.6;
    cursor: pointer;
}

.gameplay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rggba(0,0,0,0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

.close{
    position: absolute;
    top: 100px;
    right: 100px;
    cursor: pointer;
    max-width: 50px;
    filter: invert(1);
}

.gameplay.active{
    visibility: visible;
    opacity: 1;
}

.gameplay iframe{
    position: relative;
    max-width: 900px;
    max-height: 510px;
    outline: none;
    border: none;

    
}

@media (max-width: 991px){
    .trailer iframe{
        max-width: 90%;
    }

    .gameplay iframe{
        max-width: 90%;
    }
}

@media (min-width: 1440px){
    .trailer iframe{
        max-width: 1280px;
        max-height: 720px;
    }

    .gameplay iframe{
        max-width: 1280px;
        max-height: 720px;
    }
}

.background-black{
    background-color: #131313;
    z-index: -1000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    
}

.links a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}


.links a:hover{
    border-bottom: 3px solid white;
}

/*IMAGES CARRUSEL*/

.container-images{
    width: 100%;
    max-width: 1920px;


  }
  
  .myImages {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .insideImage{
      max-height: 1000px ;
      margin: auto;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 50px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  