* {
    margin: 0;
    padding: 0;
    
}

body{
    color: white;
    background-color: #FCC012;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{

    background-color: #21242c;
    margin: 2.5vh 2.5vh 2.5vh 2.5vh;
    height: 95vh;

   
   
}

.container_projects{
    
    background-color: #21242c;
    margin: 0px 25px 0px 25px;
    height: 100%;

   
}

.inside_projects{
    max-width: 1250px;
    margin: auto;
    font-size: 17.5px;

}

@media (max-width:  1400px){
    .inside_projects{
        width: 90%;
        margin: auto;
        
    
    }

    .container_projects{
    
        margin: 0px;
    
       
    }
}



/* ESTO ES PARA ULTRA WIDE*/

/*@media (min-width:  2500px){
    .inside_projects{
        width: 90%;
        margin: auto;
        font-size: 25px;
    
    }

    .container_projects{
    
        background-color: #21242c;
        width: 2450px;
        height: 100%;
        margin: auto;
       
    }
}*/


.main_page{
    display: flex;
    height: 100%;
    margin: auto;
    max-width: 900px;
    
    align-items: center;
    flex-wrap: wrap;
    justify-content:left;
}


.main_title h1{
    color: #FCC012;
    font-size: 140px;
    line-height: 161px;
    margin-bottom: 28px;
    font-family: 'Bitter', serif;
    margin-right: 150px;
}

.main_title h3{
    font-size: 35px;
    font-weight: normal;
}

.main_page div img:hover{

    margin-right: 10px;
    opacity: 0.7;
    width: 90%;
    height: 90%;
    cursor: pointer;
   
}

.play-button{

    width: 70%;
    margin-top: -50px;
}

@media (min-width:  1400px){
    .main_page{

        max-width: 1300px;
        justify-content: left;
    }
    

    
    .main_title h1{

        font-size: 200px;
        line-height: 230px;
        margin-bottom: 40px;
        margin-right: 200px;
    }
    
    .main_title h3{
        font-size: 50px;
    }
    
    .main_page div img:hover{
        
        margin-right: 20px;
        opacity: 0.7;
        width: 120%;
        height: 120%;
        cursor: pointer;
       
    }
    
    .play-button{
        width: 100%;
        margin-top: -75px;
    }
}


.project_page{
    display: flex;
    
    margin: 0px 25px;
    padding-top: 140px;
    

    align-items: center;
    justify-content: space-between;
}

.project_page div h1{
    color: #FCC012;
    font-size: 140px;
    line-height: 160px;
    margin-bottom: 28px;
    font-family: 'Bitter', serif;
}

.project_page div h3{
    font-size: 35px;
    font-weight: normal;
}

.project_page div img{
    margin: auto;
}
.project_page div img:hover{
    margin-left: -10%;
    margin-top: -10%;
    opacity: 0.7;
    width: 120%;
    height: 120%;
    cursor: pointer;
   
}

.scroll{
    position: absolute;
    bottom: 100px;
    left: 50%;
    display: flex;
    align-items: center;
    
    
}

.scroll div{
    background-color: #FCC012;
    width: 5px;
    height: 188px;
}

.scroll p{
    color: #FCC012;
    font-weight: bold;
    font-size: 20px;
    margin-left: 35px;
}

header{
    display: flex;
    padding-top: 42px;
    flex-wrap: nowrap;
    height: 49px;
    margin: 0px 25px;
    justify-content: space-between;
	border-bottom:5px solid #FCC012;
    font-family: 'Bitter', serif
    
}

.Big{
    flex: 3 1 50%;
    min-width: 200px;
}

.Big h3 a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.Big h3 a:hover{
    border-bottom: 2px solid white;
}


.Small{
    flex: 1 6 16.66%;
    text-align: center;
    margin: 0px 10px 0px 10px;
    min-width: 100px;
}

.Small h3 a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.Small h3 a:hover{
    border-bottom: 2px solid white;
}

/* No funciona*/
Big:hover, Small:hover{
    border-bottom: 2px solid rgb(255, 255, 255);;
}

header h3{
    font-weight:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width:  640px){
    
}


main{
    color: white;
}

.container_main {
    display: flex;
    justify-content: space-between;
    color: white;
}




@media (max-width:  1400px){
    .container_main {
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
}





.title{
    margin: 70px auto 20px auto;
    width: 230px;
    padding: 12px;
    text-align: center;
    border: 3px solid white;
    font-size: 17.5px;

}

.title h3{
    font-weight:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}

/*CARDS*/

.cards_yellow{
    background-color: #FCC012;
    color: #21242c;
    font-weight: bold;
    max-width: 335px;
    margin: 25px;
}

.cards_blue{
    border: 5px solid #FCC012;
    color: #21242c;
    font-weight: bold;
    max-width: 335px;
    margin: 25px;
}

.cards_yellow a{
    text-decoration: none;
    color: #21242c
}

.cards_blue a{
    text-decoration: none;
    color: #FCC012;
}


.card_inside{
    padding: 35px;
}

.card_title{
   text-align: center;
   margin-bottom: 28px;
   font-family: 'Bitter', serif
}

.card_title h1 {
    font-weight:bold;
    font-size: 35px;
    
}

.card_border{
    height: 5px;
    background-color: #21242c;;
}

.card_border div{
  margin: auto;
    
}

.card_border_y{
    height: 5px;
    background-color: #FCC012;;
}

.card_border_y div{
  
    margin: auto
    ;
}

.card_description{
    margin-top: 28px;
    font-size: 17.5px;
}

.card_plus{
 position: relative;
    margin-bottom: 35px;
}

.card_plus_sign {
    
    width: 35px;
    height: 35px;

    position: absolute;
    right: 0%;
    
  }
  .card_plus_sign::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #21242c;
    height: 7px;
    margin-top: -3.5px;
    top: 50%;
    left: 3.5px;
    right: 3.5px;
    z-index: 9;
  }
  .card_plus_sign::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #21242c;
    width: 7px;
    margin-left: -3.5px;
    left: 50%;
    top: 3.5px;
    bottom: 3.5px;
    z-index: 9;
  }

  .card_plus_sign_y {
    
    width: 35px;
    height: 35px;

    position: absolute;
    right: 0%;
    
  }
  .card_plus_sign_y::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #FCC012;
    height: 7px;
    margin-top: -3.5px;
    top: 50%;
    left: 3.5px;
    right: 3.5px;
    z-index: 9;
  }
  .card_plus_sign_y::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #FCC012;
    width: 7px;
    margin-left: -3.5px;
    left: 50%;
    top: 3.5px;
    bottom: 3.5px;
    z-index: 9;
  }

/*FOOTER*/

  footer{
    margin: 0px 25px;
    margin-top: 140px;
    border-top: 5px solid #FCC012;
    margin-bottom: 17.5px;
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
  }

 
  .footer_social{
        width: 21px;
        height: 21px;
  }

  /*PAGINA JUEGOS*/

.container_individual_project{
    margin-top: 245px;
    display: flex;
    justify-content: space-between;
}

.right_img{
    width: 100%;
    max-width: 48%;
    border: 5px solid #FCC012;
    height: 350px;
}

.img_cover{
    width: 100%;

    
}

.left_txt{
    width: 100%;
    max-width: 48%;

    
}

.txt_titles{
    font-size: 35px;
    padding: 17.5px;
    color: white;
    border-bottom: 5px solid #FCC012;
}

.txt_description{
    margin-top: 17.5px;
    font-size: 17.5px;
}

.screenshots_rectangle{
    width: 100%;
    max-height: 700px;
    border: 5px solid #FCC012;;
}

/*VIDEO*/

.container-play-trailer{
    transition: 0.3s;
}

.container-play-trailer:hover{
    opacity: 0.6;
    cursor: pointer;
}

.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rggba(0,0,0,0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

.close{
    position: absolute;
    top: 100px;
    right: 100px;
    cursor: pointer;
    max-width: 50px;
    filter: invert(1);
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer iframe{
    position: relative;
    max-width: 900px;
    max-height: 510px;
    outline: none;
    border: none;

    
}

.container-play-gameplay{
    transition: 0.3s;
}

.container-play-gameplay:hover{
    opacity: 0.6;
    cursor: pointer;
}

.gameplay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rggba(0,0,0,0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

.close{
    position: absolute;
    top: 100px;
    right: 100px;
    cursor: pointer;
    max-width: 50px;
    filter: invert(1);
}

.gameplay.active{
    visibility: visible;
    opacity: 1;
}

.gameplay iframe{
    position: relative;
    max-width: 900px;
    max-height: 510px;
    outline: none;
    border: none;

    
}

@media (max-width: 991px){
    .trailer iframe{
        max-width: 90%;
    }

    .gameplay iframe{
        max-width: 90%;
    }
}

@media (min-width: 1440px){
    .trailer iframe{
        max-width: 1280px;
        max-height: 720px;
    }

    .gameplay iframe{
        max-width: 1280px;
        max-height: 720px;
    }
}

.background-black{
    background-color: #131313;
    z-index: -1000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    
}

.links a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}


.links a:hover{
    border-bottom: 3px solid white;
}

/*IMAGES CARRUSEL*/

.container-images{
    width: 100%;
    max-width: 1344px;


  }
  
  .myImages {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .insideImage{
      max-height: 700px ;
      margin: auto;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 35px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  




  /*ABOUT PAGE*/




.about_page{
    display: flex;
    
    margin: 0px 25px;
    padding-top: 140px;
    

    align-items: center;
    justify-content: space-evenly;
}

.about_page div h1{
    color: #FCC012;
    font-size: 140px;
    line-height: 160px;
    margin-bottom: 28px;
    font-family: 'Bitter', serif;
}

.about_page div h3{
    font-size: 35px;
    font-weight: normal;
}

.myface{
    border: 5px solid #FCC012 ;
    width: 45%;
    padding-bottom:30% ;
}

  